Repository RebeccaStevens/oxide-Plugin-AutoCode: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --ignore-unknown --write, cspell

feat: remove option "pick"
  AutoCode.cs
  README.md
Due: prettier --ignore-unknown --write, cspell

chore: update upsteam url
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write, prettier --ignore-unknown --write, cspell

chore: set packageManager
  package.json
Due: prettier --write, prettier --ignore-unknown --write

ci: update workflow permissions
  .github/workflows/release.yml
Due: prettier --write, prettier --ignore-unknown --write

ci: use .mjs extension
  .releaserc
  scripts/prepareForRelease.mjs
Due: none

chore: add missing dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

chore(release): 1.6.0 [skip ci]
  AutoCode.cs
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell

Notes added by 'git notes add'
  e0e8c62a20fbda7ae72fb1f21ecbff9951899e50
Due: none

Path conditions:
  prettier --write: any of: ./**/*.{js,json,yml}
  prettier --ignore-unknown --write: (any of: *.{json,yml}) or (any of: *.md)
  cspell: any of: *.md
